<launch>
    <node name="ar_pose" pkg="ar_pose" type="ar_multi" respawn="false" output="screen">
        <param name="marker_pattern_list" value="$(find ar_pose)/data/object_4x4"/>
        <param name="threshold" value="100"/>
        <remap from="/usb_cam/image_raw" to="/wide_stereo/left/image_rect_color"/>
        <remap from="/usb_cam/camera_info" to="/wide_stereo/left/camera_info"/>
    </node>
</launch>
