<launch>
    <arg name="sim" default="false"/>
    <arg name="interactive_manipulation" default="true"/>

    <include if="$(arg sim)" file="$(find tts_server)/tts_server.launch"/>

    <group>
        <include if="$(arg interactive_manipulation)" 
            file="$(find pr2_interactive_manipulation)/launch/pr2_interactive_manipulation_desktop.launch">
            <arg name="nav" value="true"/>
        </include>
    </group>
</launch>
