<launch>
    <include file="$(find tf_throttle)/launch/tf_republished.launch"/>

    <node pkg="rviz" name="$(anon rviz-1)" type="rviz" respawn="false" output="screen" args="-d $(find rcommander_pr2_gui)/rcommander_rviz.vcg"> 
      <remap from="tf" to="tf_republished"/>
    </node>

    <node pkg="rcommander_pr2_gui" type="rcommander_pr2.py" output="screen" name="rcommander_pr2_gui">
      <remap from="tf" to="tf_republished"/>
      <remap from="joint_states" to="joint_states_throttle"/>
    </node>
</launch>
