<launch>
    <arg name="use_throttled_tf" default="true"/>
    <remap from="joint_states" to="joint_states_throttle"/>

    <remap if="$(arg use_throttled_tf)" from="tf" to="tf_throttled"/>
    <node pkg="rcommander_pr2_gui" type="rcommander_pr2.py" output="screen" name="rcommander_pr2_gui"/>
</launch>
